body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#gameCanvas {
  background-color: lightgray;
  border: 0.5rem solid black;
  border-radius: 2rem;
}
